[Unit]
Description=Prometheus Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User=alertmanager
Group=alertmanager
ExecStart={{ alertmanager_path }}/alertmanager \
  --config.file={{ alertmanager_etc }}/alertmanager.yml \
  --storage.path={{ alertmanager_data }} \
  --web.listen-address={{ alertmanager_listen }} \
  --web.external-url={{ alertmanager_url }} \
  --cluster.listen-address=''
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
